apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "infra.fullname" . }}
  labels:
    {{- include "infra.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "infra.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "infra.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "infra.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        # `name` here must match the name
        # specified in the volume mount
        {{- $cpath := .Values.configs.path }}
        {{- range $path, $_ :=  .Files.Glob  $cpath }}
        - name: {{ base $path | trimSuffix ".yaml" }}
          configMap:
            name: {{ base $path | trimSuffix ".yaml" }}-configmap
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          {{- range $path, $_ :=  .Files.Glob  $cpath }}
            - name: {{ base $path | trimSuffix ".yaml" }}
              mountPath: /configs/{{ base $path | trimSuffix ".yaml" }}
          {{- end }}
          ports:
            - name: redis
              containerPort: 6379
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - redis-cli -a {{ .Values.app.env.REDIS_PASSWORD }} ping
          readinessProbe:
            exec:
              command: [ "redis-cli", "info", "|", "grep loading:", "|", "grep 0" ]
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
